/* Header */
.menu {
    font-size: 2rem;
    color: white;
    margin: 0 3rem;
    /* transform: translateX(-50%); */
    cursor: pointer;
}

.item-menu {
    margin: 0 1rem;
    transition: all .3s;
}

.item-menu:hover {
    color: #ff234fcc;
}

.atual.item-menu {
    color: #ff234fcc;
}

.btn-logout {
    display: flex;
    align-items: center;
    font-size: 4rem;
    cursor: pointer;
    margin: 1rem;
}

.titulo-quiz {
    font-size: 4rem;
    color: white;
}

/*Fim do Header */

/* Quiz */

.quiz .container {
    flex-direction: column;
}

.circles {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    z-index: 100;
}

.circle {
    width: 3rem;
    height: 3rem;
    border: solid .2rem white;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
}

.checked {
    background-color: rgba(80, 255, 80, 0.7);
}

.active.circle {
    background-color: white;
}

.pergunta-container {
    width: 100rem;
    height: 70rem;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    margin-bottom: 2rem;
}

.active.pergunta-container {
    display: flex;
}

.pergunta {
    width: 95%;
    height: 10rem;
    border-bottom: solid .3rem white;
    font-size: 2.6rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2rem 0;
}

.respostas-container {
    width: 100%;
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.inicio.respostas-container {
    justify-content: flex-start;
}

.respostas-container p {
    color: white;
    font-size: 3rem;
    margin: 4rem;
    /*  text-align: center; */
}

.resposta {
    width: 95%;
    height: 10rem;
    border: solid .3rem white;
    border-radius: 2rem;
    font-size: 2.6rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.resposta p {
    margin: 0 0 0 2rem;
}

/* .resposta input {
    height: 7rem;
    width: 7rem;
    margin: 0 2rem;
} */

.input-radio {
    position: relative;
    appearance: none;
    border: 0;
    outline: 0;
    width: 7rem;
    height: 7rem;
    border: solid .3rem white;
    margin: 0 2rem;
    cursor: pointer;
    border-radius: 2rem;
    transition: all .2s ease;
}

.input-radio::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 2rem;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .2s ease-in-out, height .2s ease-in-out;
}

.input-radio:checked::after {
    width: 6.7rem;
    height: 6.7rem;
}

.disabled {
    pointer-events: none;
    opacity: 0;
}

.btn-next {
    position: absolute;
    color: rgba(255, 255, 255, 0.7);
    right: 30rem;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color .2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: color .2s ease;
}

.btn-next i {
    font-size: 7rem;
}

.btn-next p {
    font-size: 2rem;
}

.btn-next:hover {
    color: white;
}

.btn-prev {
    position: absolute;
    color: rgba(255, 255, 255, 0.7);
    left: 30rem;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: color .2s ease;
}

.btn-prev i {
    font-size: 7rem;
}

.btn-prev p {
    font-size: 2rem;
}

.btn-prev:hover {
    color: white;
}

.btn-finalizar {
    padding: .7rem 2rem;
    font-size: 3rem;
    background-color: transparent;
    border: solid .3rem white;
    border-radius: 3rem;
    color: white;
    cursor: pointer;
    transition: all .3s ease;
}

.btn-finalizar:hover {
    background-color: #ff234fcc;
}

/*Fim do Header */

/* Dashboard */
.dashboard-container {
    width: 150rem;
    min-height: 70rem;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.dashboard-container p {
    color: white;
    font-size: 3rem;
    margin: 2rem 0;
}

.graficos_container {
    display: flex;
    align-items: center;
}

.grafico {
    height: 60rem;
    width: 80rem;
    border: solid .5rem white;
    border-radius: 2rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grafico-duplo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
    height: 60rem;
    border: solid .5rem white;
    border-radius: 2rem;
    padding: 2rem 0;
}

.grafico2 {
    height: 30rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil_container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.perfil_container p {
    text-align: justify;
}



/* Fim da Dashboard */

/* MURAL */
.avisos {
    margin-top: 10vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100rem;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 2rem;
    padding: 2rem;

}

.avisos h1 {
    font-size: 4rem;
}

.div-form {
    width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

.div-form form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-form label {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
}

.div-form input {
    color: white;
    font-size: 2rem;
    width: 100%;
    border: solid .5rem white;
    border-radius: 2rem;
}

.div-form textarea {
    width: 100%;
    border: solid .5rem white;
    border-radius: 2rem;
    background-color: transparent;
    color: white;
    padding: 1rem;
}

.btn-publicar {
    padding: .7rem 2rem;
    font-size: 3rem;
    background-color: transparent;
    border: solid .3rem white;
    border-radius: 3rem;
    color: white;
    cursor: pointer;
    transition: all .3s ease;
    margin: 2rem 0;
}

.btn-publicar:hover {
    background-color: #ff234fcc;
}

hr {
    background-color: white;
    height: .3rem;
    width: 100%;
    margin: 1rem 0;
}

.div-results {
    margin: 2rem 0;
    font-size: 2rem;
}

.publicacao {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border: 3px solid white;
    padding: 2REM;
    margin-top: 1rem;
}

.div-buttons {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 7rem;
}

.publicacao-nome {
    font-size: 2.6rem;
    margin-right: 10rem;
}

.publicacao-descricao {
    margin-right: 1rem;
}

.publicacao-btn-editar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: transparent;
    border: .2rem solid white;
    color: white;
    margin: 0;
    cursor: pointer;
}

.publicacao-btn-editar:hover {
    background-color: #ff234fcc;
}

/* Fim do MURAL */