/* Importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.fredericka-the-great-regular {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
}


/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: inter;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: inherit;
}



section {
    min-height: 100vh;
    width: 100%;
}

/* Fim das Configurações Gerais */

/* Barra de menu */

.logo img {
    width: 10rem;
    margin: 0 3rem;
}

nav {
    width: 100%;
    height: 8rem;
    background-color: hsla(7, 9%, 18%, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    animation: animateNavbar 1s .5s forwards;
}

@keyframes animateNavbar {
    0% {
        top: -8rem;
    }

    100% {
        top: 0;
    }

}

.menu {
    font-size: 2rem;
    color: white;
}

.item-menu {
    margin: 0 1rem;
    transition: all .3s;
}

.item-menu:hover {
    color: rgba(255, 35, 79, 0.8);
}

.login-cadastro {
    margin: 0 3rem;
}

.btn {
    font-size: 2rem;
    padding: .7rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    margin: 0 .2rem;
}


.login {
    background-color: transparent;
    border: solid .2rem white;
    color: white;
    transition: all .3s;
}

.cadastro {
    background-color: white;
    border: solid .2rem white;
    color: #332C2B;
    transition: all .3s;
}

.login:hover {
    background-color: rgb(255, 35, 79, 0.8);
}

.cadastro:hover {
    background-color: rgb(255, 35, 79, 0.8);
    color: white;
}

/* Fim da barra de menu */

/* Home */
.home {
    background-image: url(../assets/imgs/PI/BG/BGHome\ \(2\).jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    position: relative;
    z-index: -100;
}

.filtro-preto {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.claro {
    background-color: rgba(0, 0, 0, 0.2);
}

.home h3 {
    font-size: 3.6rem;
    color: white;
    font-weight: bold;
    width: 75rem;
    margin: 12% 0;
    text-align: center;
    letter-spacing: .1rem;
    z-index: 50;
}

/* Fim do Home */
.sobre-mim {
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sobre-mim .container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    z-index: 50;
}

.perfil {
    width: 80rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    margin: 0 10rem 5rem;
}

.foto-perfil img {
    width: 55rem;
    margin: 2rem auto;
    position: left;
}


.titulo-dinamico {
    position: relative;
    height: 10rem;
    width: 100%;
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
}

.profissao {
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 0;
    perspective: 50rem;
}

#ator {
    animation: animateHeading 9s 0s infinite;
}

#dublador {
    animation: animateHeading 9s 3s infinite;
}

#locutor {
    animation: animateHeading 9s 6s infinite;
}

@keyframes animateHeading {
    0% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }

    3% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }

    25% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }

    28% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }

    100% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.perfil h3 {
    font-size: 4rem;
    font-weight: 200;
    margin-top: 2rem;
}

.poema {
    width: 50rem;
    min-width: 50rem;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 2rem;
    margin: 5rem 10rem 10rem;
}

/* Sobre mim */

/* Teatro */
.teatro {
    background-image: url(../assets/imgs/PI/BG/BGTeatro.jpg);
    background-size: cover;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
}

.titulo {
    width: 100%;
    z-index: 100;
}

.titulo h2 {
    font-size: 6rem;
    color: white;
    text-align: center;
    margin: 10rem 0 5rem;
}

.teatro .container {
    width: 100%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    z-index: 50;
}

.carrocel-titulo {
    color: white;
    margin: 1rem;
    text-align: center;
    font-size: 3rem;
}

.carrocel {
    position: relative;
    overflow: hidden;
    padding: 0 2rem;
    width: 85rem;
    height: 48rem;
    margin: 0 2rem;
    margin-bottom: 5rem;
}

.cartazes-container {
    padding: 0 2rem;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.cartazes-container::-webkit-scrollbar {
    display: none;
}

.cartaz {
    flex: 0 0 auto;
    width: 25rem;
    height: 40rem;
    margin-right: 2rem;
    transition: all .3s;
}

.cartaz:hover {
    opacity: 0.7;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 5rem;
    height: 5rem;
    position: absolute;
    font-size: 5rem;
    top: 50%;
    translate: y(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9;
    opacity: 0.2;
    border-radius: 50%;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn:hover,
.nxt-btn:hover {
    opacity: 1;
}

.video-container {
    margin: 0 2rem;
}

.video-wrapper {
    width: 85.4rem;
    height: 48rem;
    /* box-shadow: 3rem 3rem 3rem rgba(0, 0, 0, 0.7); */
    overflow: hidden;
    position: relative;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    transition: opacity .3s;
}

.controls {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(calc(100% - .4rem));
    transition: transform .4s;
}

.video-wrapper:hover .controls {
    transform: translateY(0);
}

.video-bar-wrapper {
    width: 100%;
    height: 0.7rem;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
}

.video-bar {
    height: 100%;
    width: 0;
    background-color: #d30819;
    transition: width 0.3s linear;
}

.buttons {
    padding: 2rem 1rem 1rem 1rem;
}

.buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

.buttons i {
    font-size: 2.8rem;
    color: #fff;
}

.video-container p {
    color: white;
    font-size: 2rem;
    margin-bottom: 10rem;
}

/* Fim do Teatro */

/* Dublagem */

.dublagem {
    background-image: url(../assets/imgs/PI/BG/BGDublagem.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.titulo {
    width: 100%;
    z-index: 100;
}

.dublagem .container {
    width: 100%;
    height: 65%;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.personagens-dublados {
    width: 85rem;
    height: 48rem;
    margin: 0 2rem;
    margin-bottom: 5rem;
    background-color: rgba(255, 0, 0, 0.185);
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
}

.personagem {
    width: 24rem;
    height: 23rem;
    margin: 0 2rem 2rem;
    background-color: green;
}

.personagem:hover {
    opacity: .7;
}

.video-bar-2 {
    height: 100%;
    width: 0;
    background-color: #d30819;
    transition: width 0.3s linear;
}

.buttons-2 {
    padding: 2rem 1rem 1rem 1rem;
}

.buttons-2 button {
    background: none;
    border: none;
    cursor: pointer;
}

.buttons-2 i {
    font-size: 2.8rem;
    color: #fff;
}

/* Fim da dublagem */

/* Locução */

.locucao {
    background-image: url(../assets/imgs/PI/BG/BGLocucao.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.locucao .container {
    width: 100%;
    height: 65%;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.video-bar-3 {
    height: 100%;
    width: 0;
    background-color: #d30819;
    transition: width 0.3s linear;
}

.buttons-3 {
    padding: 2rem 1rem 1rem 1rem;
}

.buttons-3 button {
    background: none;
    border: none;
    cursor: pointer;
}

.buttons-3 i {
    font-size: 2.8rem;
    color: #fff;
}

.video-bar-4 {
    height: 100%;
    width: 0;
    background-color: #d30819;
    transition: width 0.3s linear;
}

.buttons-4 {
    padding: 2rem 1rem 1rem 1rem;
}

.buttons-4 button {
    background: none;
    border: none;
    cursor: pointer;
}

.buttons-4 i {
    font-size: 2.8rem;
    color: #fff;
}

.video-container h3 {
    color: white;
    font-size: 3.4rem;
    margin: 2rem 0 10rem;
    text-align: center;
}


/* Fim da Locução */

/* Galeria */
.galeria {
    background-image: url(../assets/imgs/PI/BG/BGGaleria.jpg);
    background-size: cover;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
}

.galeria .container {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.carrocel-fotos-titulo {
    color: white;
    margin: 1rem;
    text-align: center;
    font-size: 4rem;
}

.carrocel-fotos {
    position: relative;
    overflow: hidden;
    /* padding: 0 2rem; */
    width: 120rem;
    height: 70rem;
    margin: 0 2rem;
    margin-bottom: 5rem;
}

.fotos-container {
    /*  padding: 0 2rem; */
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.fotos-container::-webkit-scrollbar {
    display: none;
}

.foto {
    flex: 0 0 auto;
    width: 120rem;
    height: 70rem;
    transition: all .3s;
    background-color: rgba(0, 0, 0, 0.5);
}


.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.pre-btn-fotos,
.nxt-btn-fotos {
    border: none;
    width: 5rem;
    height: 5rem;
    position: absolute;
    font-size: 5rem;
    top: 50%;
    translate: y(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9;
    opacity: 0.2;
    border-radius: 50%;
}

.pre-btn-fotos {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn-fotos {
    right: 0;
}

.pre-btn-fotos:hover,
.nxt-btn-fotos:hover {
    opacity: 1;
}

.poema.itaca {
    width: 100rem;
}

.itaca p {
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    letter-spacing: .1rem;
    font-weight: 600;
}


/* Fim da Galeria*/

/* Agradecimentos*/

.agradecimento {
    background-image: url(../assets/imgs/PI/BG/BGAgradecimento.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.agradecimento .container {
    width: 100%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.poema-brecht {
    width: 90rem;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.poema-brecht p {
    font-size: 2.6rem;
    color: white;
    font-family: "Fredericka the Great", serif;
    letter-spacing: .1rem;
    line-height: 3.6rem;
}

.mestres {
    width: 90rem;
    height: 90%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mestres p {
    font-size: 2.6rem;
    color: white;
    font-family: "Fredericka the Great", serif;
    letter-spacing: .1rem;
    line-height: 3.6rem;
    margin-bottom: 1rem;
}

.mestres-nomes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

}

.nome {
    width: 28rem;
    height: 8rem;
    margin: 0 2rem 1rem 0;
    /* background-color: rgba(255, 255, 255, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.6rem;
    color: white;
    font-family: "Fredericka the Great", serif;
    letter-spacing: .1rem;
    line-height: 3.6rem;
    margin-bottom: 1rem;
}

.nome h4 {
    font-size: 2rem;
    color: white;
    font-family: "Fredericka the Great", serif;
    letter-spacing: .2rem;
    margin-top: 2rem;
}

.nome p {
    font-size: 1.6rem;
}

/*Fim dos Agradecimentos*/